*{
  font-family: Verdana, Arial, sans-serif;
  box-sizing: border-box
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 175%;
}
/*for desktop devices*/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width:33.3%;
  }
}
 @media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width:50%;
  }
}
 @media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
    width:100%;
  }
}
@media (max-width: 767px) {
  .col-xs-12 {
    float: left;
    width:100%;
  }
}
div {
    background-color: #cccccc;
    border: 1px solid black;
    padding:0;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right:10px;
}
.content {
  margin:10px;
  margin-top:35px;
}
.title1 {
  float:right;
  width: 150px;
  margin:0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #ffb3d9;
}
.title2 {
  float:right;
  width: 150px;
  margin:0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  color: white;
  background-color: #ff3333;
}
.title3 {
  float:right;
  width: 150px;
  margin:0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #ffff80;
}

