.navbar-brand {
  font-family: 'Manrope', sans-serif;
  padding: 0;
  height: 70px;
}
.navbar-brand > a{
  font-size: 25px; 
  color: #019393;  
}

.navbar-brand > a:hover{
  text-decoration: none; 
}

.navbar-default {
    border-color: white;
}
#header-nav {
  background-color: white;
}

.container {
  background-color: white;
}
#collapsable-nav {
  background-color: white;
  height: auto;
}
#collapsable-nav > ul > li > a {
  font-size: 25px;
  font-family: 'Manrope', sans-serif;
  /*position: relative;*/
  /*float:right;*/
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.navbar-default .navbar-toggle {
    border: none;
        margin-top: 25px;
}
.navbar-toggle:hover {
    background-color: #ddd;
}

#nav-list {
  padding-top: 12px;
}

.navbar-collapse {
  border:none;
}
/*END HEADER*/

/*START BODY*/
#subheading {
  font-family: 'Manrope', sans-serif; 
  padding: 10px 10px 50px 10px;
  text-align: center;
  font-size: 18px;
}

.container1 {
  margin: 0;
  width: 100vw;
}

.jumbo {
  padding:0px;
  margin-left:-15px;
  position: relative;
  width: 100vw;
  height: 40vw;
  margin-left: 15px;
  float:left;
}

#jumbotron1 {
  background-image: url('../images/jumbo1.jpg');
  background-size:100vw auto;
  filter: contrast(100%);
}
#jumbotron2 {
  background-image: url('../images/jumbo2.jpg');
  background-size:100vw auto;
}
#jumbotron3 {
  background-image: url('../images/jumbo3.jpg');
  background-size:100vw auto;
}

.jumbotext {
  position: absolute;
  width: 100vw;
  height: 40vw;
  font-family: 'Manrope', sans-serif; 
  color: #FBFBFB;
  font-size:3.75vw;
  line-height: 40vw;
  text-align: center;
  user-select: none;
}
.glyphicon {
  margin-bottom: : 45px;
}


/*END BODY*/

/*START FOOTER*/
.panel-footer {
  background-color: white;
  margin-top: 20px;
  border: none;
  font-family: 'Manrope', sans-serif; 
  color: black;
  font-size: 15px;
}

.footlink {
  color: #019393
}


/*START SUBPAGES*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  font-family: 'Manrope', sans-serif;
}

#subheadingTurkey {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
#subheadingMJ {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
#subheadingGB {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /*margin-top: -22px;*/
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

/* Caption text */

/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards; 
  animation-name: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*END SUBPAGES*/

/*START ABOUT PAGE*/
#aboutPhoto {
  width: 50vw;
  height: 33.5vw;
  margin: auto;
  display: block;
}

#aboutContent {
  font-family: 'Manrope', sans-serif;
  font-size: 1.7vw;
  text-align: left;
  /*margin-bottom: 40px;*/
  margin-top: 1vw;
  height: 33.5vw;
}


/*FOR MOBILE DISPLAY*/
@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  .jumbo {
    margin-left: 16px;
  }
  .navbar-brand {
    width: 100vw;
  }
  .navbar-brand > a > h1 {
    text-align: center;
  }
  #navbarToggle {
    float: left;
    margin: 0 45vw 0 45vw;
  }
  #subheading {
    padding-right: 20px;
    padding-left: 40px;
    width: 100vw;
  }
  div#aboutContent {
    font-size: 15px;
    text-align: center;
    margin-bottom: -10px;
    min-height: 273px;
  }
  img#aboutPhoto {
    width: 100vw;
    height: 66.7vw;
  }
}


/*CONTACT PAGE*/
#subheadingContact {
  font-family: 'Manrope', sans-serif; 
  padding: 10px 10px 20px 10px;
  text-align: center;
  font-size: 18px;
}

#form1 {
   font-family: 'Manrope', sans-serif; 
   text-align: center;
}
input {
  width: 50vw;
  clear: both;
  text-align: center;
}

#querybox {
  height: 200px;
}

#submitbutton {
  background-color: #F9FFFF;
  color: black;
  border: 1px solid black;
}

#submitbutton:hover {
  background-color: #019393;
  color: white;
}